// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Helvetica;
}

a {
  text-decoration: none;
}

.btn a {
  color: white;
}

.btn a:hover {
  color: white;
  text-decoration: none;
}
